<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clubs list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<div th:insert="fragments/Navbar :: Navbar"></div>
<h1>Top Clubs List</h1>
<body>
<div class="container p-3">
    <div class="card">
        <div class="card-body bg-light">
            <div class="card-header">
                Top Clubs List
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Players</td>
                    <td>League</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="club : ${clubList}">
                    <td th:text="${club.name}"/>
                    <td th:text="${club.players}"/>
                    <td th:text="${club.league}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
