<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<h2>Lista Cluburi de TOP</h2>
<head>
    <meta charset="UTF-8">
    <title>Lista Cluburi de TOP</title>
</head>
<body>
<table style="width:100%">
    <thead>
    <tr>
        <td> |Den| </td>
        <td> |NrJuc| </td>
        <td> |Liga| </td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="club : ${clubList}">
        <td th:text="{club.den}"/>
        <td th:text="{club.nrjuc}"/>
        <td th:text="{club.liga}"/>
    </tr>
    </tbody>
</table>
</body>
</html>