<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Players list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<div th:insert="fragments/Navbar :: Navbar"></div>
<h1 style=text-align:center>Players</h1>
<body>
<div class="container p-3">
    <div class="card">
        <div class="card-body bg-light">
            <div class="card-header">
                List of top players
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
        <td>Name Player</td>
        <td>Salary</td>
        <td>Team</td>
        <td>Pozition</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${playerList}">
        <td th:text="${player.namep}"/>
        <td th:text="${player.salary}"/>
        <td th:text="${player.team}"/>
        <td th:text="${player.pozition}"/>
    </tr>
    </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>