<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Players list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<div th:insert="fragments/Navbar :: Navbar"></div>
<h1 style=text-align:center>Players</h1>
<body>
<div class="container p-3">
    <div class="card">
        <div class="card-body bg-light">
            <div class="card-header">
                List of top players
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
        <td>Name Player</td>
        <td>Salary</td>
        <td>Pozition</td>
        <td>Club</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${playerList}">
        <td th:text="${player.namep}"/>
        <td th:text="${player.salary}"/>
        <td th:text="${player.pozition}"/>
        <td th:text="${player.club.name}+ ' - ' +${player.club.league}"/>
        <td>
            <form th:action="@{/editPlayer}", th:object="${player}" method="post">
                <input class="d-none" name ="playerId" th:value ="${player.id}">
            <button class="btn">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{/deletePlayer}", th:object="${player}" method="post">
                <input class="d-none" name ="playerId" th:value ="${player.id}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>